{% extends 'layout.html' %}
{% load static %}

{% block title %}About{% endblock %}

{% block content %}
<div class="col-12">
    <h1>Django Tutorial</h1>
    <hr>
    <div class="row">
        <div class="col-md-9 lead">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras non ipsum nec lectus facilisis vulputate. Fusce facilisis nisi quis lectus maximus, sed varius dui porta. Suspendisse vitae diam non arcu dapibus porta. Pellentesque ac scelerisque massa, a tincidunt ipsum. Ut nec elit quis augue dapibus pretium. Sed consectetur, lacus non bibendum malesuada, lacus nisl luctus leo, ut efficitur justo leo quis turpis. Nulla facilisi. Integer tempus elementum odio, vitae elementum ante. Vestibulum et semper elit. Nunc maximus vestibulum massa nec sagittis. Cras aliquet varius odio, ac suscipit mi eleifend ut.

            Suspendisse rhoncus quam ante, vitae sodales ex porttitor sed. Morbi sodales tellus libero, vitae eleifend diam interdum et. Fusce placerat lorem id ligula vestibulum, at iaculis enim ultricies. Aliquam a lorem magna. Nam egestas gravida lorem, a mattis lorem rhoncus non. Donec aliquet eget magna eget bibendum. Fusce fermentum ipsum nec pretium cursus. Sed congue nulla enim, sed finibus sapien consequat in. Morbi nec volutpat tellus. Pellentesque dapibus justo justo, et facilisis nunc pretium bibendum.

            Donec vel ex sed dolor iaculis pulvinar. Quisque ullamcorper, ex at fermentum sodales, mauris enim congue elit, in efficitur turpis elit eu tellus. Vestibulum pellentesque gravida ornare. Quisque lorem dolor, consectetur ut egestas eget, pulvinar sit amet arcu. Sed et eros at dolor dignissim consequat sit amet sit amet ipsum. Cras hendrerit ante enim, ut ullamcorper risus facilisis quis. Quisque a urna pretium, vestibulum erat vitae, viverra metus. Nunc ac velit orci. Phasellus a condimentum purus, sit amet auctor nisl. Pellentesque facilisis quam vitae dictum gravida. Pellentesque ipsum leo, bibendum sed malesuada nec, mollis vitae odio. Etiam placerat quis dui vulputate ultricies. Suspendisse potenti. Sed tempor, augue nec aliquet tristique, massa lacus cursus orci, ut egestas leo lectus eu tellus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.

            Aliquam in dolor quis lacus rhoncus pretium non vitae ex. Suspendisse augue nibh, tempor eu varius vel, vehicula nec ex. Phasellus rutrum quam nec dapibus tempor. Integer eu mauris arcu. Nam condimentum dictum consequat. Sed sodales pellentesque purus vitae viverra. Cras in porta urna.
        </div>
        <div class="col-md-3">
            <img src="{% static 'img/django.jpg' %}" class="img-fluid">
        </div>
    </div>
</div>
{% endblock %}